body {
    background-color: white;
    /* background-color: #657786; */
}
form.form-horizontal {
    border-color: white;
    border-width: thin;
    background-color: white;
    border-style: ridge;
    padding: 13px 13px 13px 9px;
}
#logo {
    width: 85px;
    height: 85px;
    padding-bottom: 25px;
}
.navbar {
    min-height: 100px;
    background: linear-gradient(to right, white, lightblue);
    border-bottom-style: none;
    /* Bottom box shadow configuration */
    -webkit-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.288);
    -moz-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.288);
    box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.288);
    /* Static to the top of page */
    /* overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%; */
}
.LoginErrorMessage {
    position: fixed;
}
