body {
    background-color: white;
    /* background-color: #657786; */
}
form.form-horizontal {
    border-color: white;
    border-width: thin;
    background-color: white;
    border-style: ridge;
    padding: 13px 13px 13px 9px;
}
#logo {
    width: 85px;
    height: 85px;
    padding-bottom: 25px;
}
.navbar {
    min-height: 100px;
    background: linear-gradient(to right, white, lightblue);
    border-bottom-style: none;
}
.LoginErrorMessage {
    position: fixed;
}
